body {
    color: #333;
    font-family: "Verdana", sans-serif;
    font-size: 13px;
}

input {
    width: 200px;
    box-sizing: border-box;
}

.list {
    width: 200px;
    margin-top: 10px;
}

.wrapper {
    padding: 5px 0;
}

.item {
    display: flex;
    align-items: center;
    padding: 5px;
    background: #fff;
    border: 1px solid #5f5f5f;
}

.grabbed {
    box-shadow: 2px 2px 3px #b3b3b3;
}

.grab {
    border: 1px solid #5f5f5f;
    padding: 0 5px;
    margin-right: 5px;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.grabable {
    cursor: pointer;
    flex: 1;
}

.removable {
    display: flex;
    justify-content: space-between;
}

.remove-button {
    background: none;
    border: 1px solid #5f5f5f;
    border-radius: 3px;
    margin-left: 5px;
    padding: 1px 2px;
}